.header {
    width: 100%;
    height: 5rem;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 0 #8b8989;
    background: #e8f2fb;
}
  
  